<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
<link rel="shortcut icon" href="napa.png"/>
<title>Napa Auto Parts</title>
<link rel="stylesheet" href="topic.css">
</head>
<h1>Napa Auto Parts</h1>
<div>

<!--Self-explanitory; helps people move to other places of the site.-->
<a href="index.html">Home</a>
<a href="car.html">Part Lookup</a>
<a href="about.html">About</a>
</div>
<body>

<p>Founded in 1925, Napa Auto Parts sells parts to keep vehicles on the road. Under the parent company of Genuine Parts Company, there are over 6000 stores, 1142 under GPC and the remaining being independent stores.</p>
<p>Currently, the headquarters are located in Atlanta, GA. The current CEO is Paul Donahue.</p>
<p>When it comes to sponsorships, Napa sponsors the Atlanta Braves, Atlanta Falcons, Atlanta United, and the Mexico national football team, as well as Chase Elliott with his number 9 Chevrolet in 26 NASCAR races every season.</p>

<br><br><br><br><br>
<h5><em>Copyright © 2024 Genuine Parts Company</em></h5>

</body>
</html>