<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
<link rel="shortcut icon" href="napa.png"/>
<title>Napa Auto Parts</title>
<link rel="stylesheet" href="topic.css">
</head>
<h1>Napa Auto Parts</h1>
<div>

<!--Self-explanitory; helps people move to other places of the site.-->
<a href="index.html">Home</a>
<a href="car.html">Part Lookup</a>
<a href="about.html">About</a>
</div>
<body>

<p>This is the parts page of the Napa website. Please put in your car to continue.</p>

<label for="year">Year:</label>
<select name="year" id="year">
    <option value="2000">2000</option>
    <option value="2001">2001</option>
    <option value="2002">2002</option>
    <option value="2003">2003</option>
    <option value="2004">2004</option>
    <option value="2005">2005</option>
    <option value="2006">2006</option>
    <option value="2007">2007</option>
    <option value="2008">2008</option>
    <option value="2009">2009</option>
    <option value="2010">2010</option>
    <option value="2011">2011</option>
    <option value="2012">2012</option>
    <option value="2013">2013</option>
    <option value="2014">2014</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
</select>
<br>
<label for="make">Make:</label>
<select name="make" id="make">
    <option value="acura">Acura</option>
    <option value="alfaromeo">Alfa Romeo</option>
    <option value="astonmartin">Aston Martin</option>
    <option value="audi">Audi</option>
    <option value="bently">Bently</option>
    <option value="bmw">BMW</option>
    <option value="bugatti">Bugatti</option>
    <option value="buick">Buick</option>
    <option value="cadillac">Cadillac</option>
    <option value="chevrolet">Chevrolet</option>
    <option value="chrysler">Chrysler</option>
    <option value="ferrari">Ferrari</option>
    <option value="fiat">Fiat</option>
    <option value="ford">Ford</option>
    <option value="gmc">GMC</option>
    <option value="honda">Honda</option>
    <option value="hummer">Hummer</option>
    <option value="hyundai">Hyundai</option>
    <option value="kia">Kia</option>
    <option value="lamborghini">Lamborghini</option>
    <option value="lexus">Lexus</option>
    <option value="lincoln">Lincoln</option>
    <option value="mazda">Mazda</option>
    <option value="mercedes">Mercedes</option>
    <option value="mercury">Mercury</option>
    <option value="mitsubishi">Mitsubishi</option>
    <option value="nissan">Nissan</option>
    <option value="oldsmobile">Oldsmobile</option>
    <option value="pontiac">Pontiac</option>
    <option value="porsche">Porsche</option>
    <option value="saab">Saab</option>
    <option value="subaru">Subaru</option>
    <option value="tesla">Tesla</option>
    <option value="toyota">Toyota</option>
    <option value="volkswagen">Volkswagen</option>
    <option value="volvo">Volvo</option>
</select>
<br>
<label for="model">Model:</label>
<select name="model" id="model">
    <option value="124spider">124 Spider</option>
    <option value="200">200</option>
    <option value="3">3</option>
    <option value="300">300</option>
    <option value="458">458</option>
    <option value="500">500</option>
    <option value="6">6</option>
    <option value="812gts">812 GTS</option>
    <option value="9-3">9-3</option>
    <option value="9-7">9-7</option>
    <option value="900">900</option>
    <option value="9000">9000</option>
    <option value="911">911</option>
    <option value="a4">A4</option>
    <option value="acadia">Acadia</option>
    <option value="accord">Accord</option>
    <option value="alero">Alero</option>
    <option value="altima">Altima</option>
    <option value="ascent">Ascent</option>
    <option value="atlas">Atlas</option>
    <option value="aurora">Aurora</option>
    <option value="aventador">Aventador</option>
    <option value="aviator">Aviator</option>
    <option value="aztek">Aztek</option>
    <option value="beetle">Beetle</option>
    <option value="bravada">Bravada</option>
    <option value="cclass">C-Class</option>
    <option value="c40">C40</option>
    <option value="camaro">Camaro</option>
    <option value="canyon">Canyon</option>
    <option value="carnival">Carnival</option>
    <option value="cayenne">Cayenne</option>
    <option value="cayman">Cayman</option>
    <option value="chiron">Chiron</option>
    <option value="cirrus">Cirrus</option>
    <option value="civic">Civic</option>
    <option value="continentalgt">Continental GT</option>
    <option value="corvette">Corvette</option>
    <option value="crv">CR-V</option>
    <option value="crosstrek">Crosstrek</option>
    <option value="ct5">CT5</option>
    <option value="cts">CTS</option>
    <option value="cx5">CX-5</option>
    <option value="cybertruck">Cybertruck</option>
    <option value="db9">DB9</option>
    <option value="db11">DB11</option>
    <option value="db12">DB12</option>
    <option value="dbs">DBS</option>
    <option value="dbx">DBX</option>
    <option value="eclipse">Eclipse</option>
    <option value="eclipsecross">Eclipse Cross</option>
    <option value="elantra">Elantra</option>
    <option value="enclave">Enclave</option>
    <option value="encore">Encore</option>
    <option value="envision">Envision</option>
    <option value="envista">Envista</option>
    <option value="eqs">EQS</option>
    <option value="escalade">Escalade</option>
    <option value="ex30">EX30</option>
    <option value="f150">F-150</option>
    <option value="f250">F-250</option>
    <option value="f350">F-350</option>
    <option value="f450">F-450</option>
    <option value="f550">F-550</option>
    <option value="f650">F-650</option>
    <option value="fiesta">Fiesta</option>
    <option value="firebird">Firebird</option>
    <option value="flyingspur">Flying Spur</option>
    <option value="focus">Focus</option>
    <option value="forester">Forester</option>
    <option value="forte">Forte</option>
    <option value="fusion">Fusion</option>
    <option value="gclass">G-Class</option>
    <option value="g5">G5</option>
    <option value="g6">G6</option>
    <option value="g8">G8</option>
    <option value="gallardo">Gallardo</option>
    <option value="giulia">Giulia</option>
    <option value="gle">GLE</option>
    <option value="golf">Golf</option>
    <option value="grandam">Grand Am</option>
    <option value="grandmarquis">Grand Marquis</option>
    <option value="grandprix">Grand Prix</option>
    <option value="gto">GTO</option>
    <option value="gx">GX</option>
    <option value="h1">H1</option>
    <option value="h2">H2</option>
    <option value="h3">H3</option>
    <option value="huracan">Huracan</option>
    <option value="i1">i1</option>
    <option value="i2">i2</option>
    <option value="i3">i3</option>
    <option value="i4">i4</option>
    <option value="i5">i5</option>
    <option value="i6">i6</option>
    <option value="i7">i7</option>
    <option value="i8">i8</option>
    <option value="i9">i9</option>
    <option value="impreza">Impreza</option>
    <option value="integra">Integra</option>
    <option value="jetta">Jetta</option>
    <option value="k5">K5</option>
    <option value="kona">Kona</option>
    <option value="lacrosse">LaCrosse</option>
    <option value="legacy">Legacy</option>
    <option value="lfa">LFA</option>
    <option value="lyriq">Lyriq</option>
    <option value="m1">m1</option>
    <option value="m2">m2</option>
    <option value="m3">m3</option>
    <option value="m4">m4</option>
    <option value="m5">m5</option>
    <option value="m6">m6</option>
    <option value="m7">m7</option>
    <option value="m8">m8</option>
    <option value="m9">m9</option>
    <option value="macan">Macan</option>
    <option value="mariner">Mariner</option>
    <option value="mdx">MDX</option>
    <option value="miata">Miata</option>
    <option value="milan">Milan</option>
    <option value="mirage">Mirage</option>
    <option value="model3">Model 3</option>
    <option value="models">Model S</option>
    <option value="modelx">Model X</option>
    <option value="modely">Model Y</option>
    <option value="mulsanne">Mulsanne</option>
    <option value="mx5">MX-5</option>
    <option value="nautilus">Nautilus</option>
    <option value="navigator">Navigator</option>
    <option value="nsx">NSX</option>
    <option value="optima">Optima</option>
    <option value="outback">Outback</option>
    <option value="outlander">Outlander</option>
    <option value="pacifica">Pacifica</option>
    <option value="palisade">Palisade</option>
    <option value="panamera">Panamera</option>
    <option value="pilot">Pilot</option>
    <option value="ptcruiser">PT Cruiser</option>
    <option value="purosangue">Purosangue</option>
    <option value="q5">Q5</option>
    <option value="q7">Q7</option>
    <option value="r8">R8</option>
    <option value="rdx">RDX</option>
    <option value="revuelto">Revuelto</option>
    <option value="rogue">Rogue</option>
    <option value="rx">RX</option>
    <option value="s60">S60</option>
    <option value="s90">S90</option>
    <option value="santacruz">Santa Cruz</option>
    <option value="santafe">Santa Fe</option>
    <option value="solstice">Solstice</option>
    <option value="sonata">Sonata</option>
    <option value="sorento">Sorento</option>
    <option value="soul">Soul</option>
    <option value="sportage">Sportage</option>
    <option value="stelvio">Stelvio</option>
    <option value="stinger">Stinger</option>
    <option value="tahoe">Tahoe</option>
    <option value="taos">Taos</option>
    <option value="taycan">Taycan</option>
    <option value="telluride">Telluride</option>
    <option value="terrain">Terrain</option>
    <option value="tiguan">Tiguan</option>
    <option value="tl">TL</option>
    <option value="tlx">TLX</option>
    <option value="tonale">Tonale</option>
    <option value="tornado">Tornado</option>
    <option value="townandcountry">Town & Country</option>
    <option value="tuscon">Tuscon</option>
    <option value="tx">TX</option>
    <option value="urus">Urus</option>
    <option value="vantage">Vantage</option>
    <option value="versa">Versa</option>
    <option value="veyron">Veyron</option>
    <option value="voyager">Voyager</option>
    <option value="wrx">WRX</option>
    <option value="x1">x1</option>
    <option value="x2">x2</option>
    <option value="x3">x3</option>
    <option value="x4">x4</option>
    <option value="x5">x5</option>
    <option value="x6">x6</option>
    <option value="x7">x7</option>
    <option value="x8">x8</option>
    <option value="x9">x9</option>
    <option value="xc40">XC40</option>
    <option value="xc60">XC60</option>
    <option value=xc90">XC90</option>
    <option value="xt4">XT4</option>
    <option value="xt5">XT5</option>
    <option value="xt6">XT6</option>
    <option value="yukon">Yukon</option>
    <option value="zdx">ZDX</option>
</select>
<br>
<label for="engine">Engine:</label>
<select name="model" id="model">
    <option value="1.0l">1.0L</option>
    <option value="1.5l">1.5L</option>
    <option value="2.0l">2.0L</option>
    <option value="2.4l">2.4L</option>
    <option value="2.5l">2.5L</option>
    <option value="3.0l">3.0L</option>
    <option value="3.5l">3.5L</option>
    <option value="3.7l">3.7L</option>
    <option value="4.0l">4.0L</option>
    <option value="4.4l">4.4L</option>
    <option value="4.5l">4.5L</option>
    <option value="5.0l">5.0L</option>
    <option value="5.3l">5.3L</option>
    <option value="5.5l">5.5L</option>
    <option value="5.7l">5.7L</option>
    <option value="6.0l">6.0L</option>
    <option value="6.2l">6.2L</option>
    <option value="6.4l">6.4L</option>
    <option value="6.5l">6.5L</option>
    <option value="6.6l">6.6L</option>
    <option value="6.7l">6.7L</option>
    <option value="7.0l">7.0L</option>
    <option value="7.3l">7.3L</option>
    <option value="8.0l">8.0L</option>
</select>
<br><br>
<input type="submit" value="Submit"/>
<br><br><br>
<p>We can always look up your car by its VIN.</p>
<form>
    <label for="vin">VIN:</label>
    <input type="text" id="vin" name="vin">
  </form>
  <br>
<input type="submit" value="Submit"/>
<br><br><br><br><br>
<h5><em>Copyright © 2024 Genuine Parts Company</em></h5>

</body>
</html>