<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
<link rel="shortcut icon" href="napa.png"/>
<title>Napa Auto Parts</title>
<link rel="stylesheet" href="topic.css">
</head>
<h1>Napa Auto Parts</h1>
<div>

<!--Self-explanitory; helps people move to other places of the site.-->
<a href="index.html">Home</a>
<a href="car.html">Part Lookup</a>
<a href="about.html">About</a>
</div>
<body>

<p>Please put in the part(s) you need.</p>
<form>
    <label for="part">Part:</label>
    <input type="text" id="part" name="part">
  </form>
<br><br><br><br><br>
<h5><em>Copyright © 2024 Genuine Parts Company</em></h5>

</body>
</html>