<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
<link rel="shortcut icon" href="napa.png"/>
<title>Napa Auto Parts</title>
<link rel="stylesheet" href="topic.css">
</head>
<h1>Napa Auto Parts</h1>
<div>

<!--Self-explanitory; helps people move to other places of the site.-->
<a href="index.html">Home</a>
<a href="car.html">Part Lookup</a>
<a href="about.html">About</a>
</div>
<body>

<p>Welcome to the official site of Napa Auto Parts. This website will help you with what parts you need.</p>
<p>Go to <em>Parts</em> if you need to find a part.</p>
<p>If you want to know more about Napa, go to <em>About.</em></p>
<br><br><br>
<img src="bosch_icon.png" alt="Bosch Icon Wiper Blade">
<h4>Bosch Icon Wiper Blade - $14.99 Each</h4>
<br><br>
<img src="5w20_napa_oil_5qt.png" alt="5W20 Napa Synthetic Oil 5 Quart">
<h4>5W20 Napa Synthetic Oil 5 Quart - $19.99 Each</h4>
<br><br>
<img src="5w20_napa_oil_quart.png" alt="5W20 Napa Synthetic Oil Quart">
<h4>5W20 Napa Synthetic Oil Quart - $4.99 Each</h4>
<br><br><br><br><br>
<h5><em>Copyright © 2024 Genuine Parts Company</em></h5>

</body>
</html>